@{
    ViewData["Title"] = "Home Page";
}

@model List<Productos>

<div class="text-center">
    <h1 class="display-5">Productos</h1>

    <a class="text-primary border border-primary p-2 d-inline rounded m-2 text-decoration-none" asp-controller="Productos" asp-action="AgregarProducto">Agregar Producto</a>
    <a class="text-danger border border-danger p-2 d-inline rounded m-2 text-decoration-none">Eliminar Producto</a>
    <table class = "table m-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model){
                <tr>
                    <td>@p.IdProducto</td>
                    <td>@p.Descripcion</td>
                    <td>@p.Precio.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Total de productos en la base de datos: @Model.Count()</p>
    </div>
